@font-face {
    font-family: 'Grenz Gotisch';
    font-style: normal;
    font-weight: 400;
    src: url('/grenze-gotisch.ttf') format('truetype'),
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Grenz Gotisch", serif;
    font-weight: 400;
    font-style: normal;
}

@layer base {
    :root {
        @apply bg-red-900;
        @apply text-gray-200;
    }
    h1{
        @apply text-xl my-1 font-bold;
    }
    h2{
        @apply text-lg font-bold;
    }
    input[type=text]{
        @apply px-2 rounded-sm bg-neutral-800 border-4 border-black border-double;
    }
}


@layer components {
    .panel {
        @apply rounded-sm bg-neutral-700 p-2 gap-2 flex border-double border-4 border-black;
    }
}